/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */

/* Colours */
$background: #f1ede3;
$text: #555555;
$link: #1e68a8;
$link-hover: #23527c;

$background-reverse: #0d1526;
$text-reverse: #e9e5d5;
$link-reverse: #00d8ff;

/* Breakpoint */
$container: 960px;
$mobile: 600px;
$phone: 450px;
