---
layout: default
title: Get an accessibility audit
redirect_from:
    - /get-advice
---

<div class="content">
    <main id="main-content">
        <div class="banner">
            <h1>Accessibility matters.</h1>
            <p>An in-depth analysis of your site's accessibility, delivered in a case study format - super easy to understand and implement.</p>
            <a href="mailto:ashley@mrfirthy.me" class="button">Sounds good, let's do it</a>
        </div>

        <section>
            <h2>What's the point?</h2>
            <p>Those who have <em>built</em> a site do not experience it in the same way that many of their users do. At the same time, many people don't know how that experience differs and how to check it. Accessibility has sadly been an industry afterthought for a while - not focused on in courses or degrees, and no clear checks or practices to follow. That's where I come in.</p>

            <div class="half">
                <div class="half__item">
                    <h3>Highlighting:</h3>
                    <ul>
                        <li>😬 Pain points and failures in your pages &amp; journeys</li>
                        <li>🌍 Global, repeated issues, to help improve your site as a whole.</li>
                    </ul>
                </div>
                <div class="half__item">
                    <h3>Suggesting:</h3>
                    <ul>
                        <li>📈 Plans and benchmarks to improve your approach</li>
                        <li>👩‍💻 Testing, both manual and automated, to help maintain good standards.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="panel">
            <p><strong>Trusted by companies who care</strong></p>
            <div class="logos">
                {% include logos/coop.svg %}
                {% include logos/marks-and-spencer.svg %}
                {% include logos/octopus-energy.svg %}
                {% include logos/spareroom.svg %}
            </div>
        </section>

        <section>
            <h2>How will it work?</h2>
            <p>I try to keep it as simple as possible:</p>
            <ol>
                <li>💬 We discuss your site and its important journey(s)</li>
                <li>✍️ I complete your audit and create your plan</li>
                <li>🤝 We chat through everyone I've shared with you</li>
                <li>✅ Your site becomes more accessible!</li>
            </ol>
        </section>

        <section>
            <h2>What else do you offer?</h2>
            <p>Beyond the audits and plans, I also offer training sessions for your team/company. I can start simple, by taking everyone through an introduction to accessibility, and go all the way to the complexities of designing for a particular strain of colour blindness. Again, it's entirely dependent on your situation, but an audit can often showcase where your weaknesses lie, and I can suggest areas of improvement. Training is an extra cost, and can be booked in without an audit, but is discounted if I've audited you before.</p>
        </section>

        <section>
            <h2>FAQs</h2>
            <div class="accordion" role="tablist">
                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#what-will-i-get"
                        data-tab="1"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--1"
                            aria-controls="what-will-i-get"
                        >
                            What will I get in the audit?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="what-will-i-get" class="accordion__content"
                        data-tab="1"
                        role="tabpanel" aria-labelledby="accordion__title--1"
                    >
                        <p>You'll get a breakdown of the current state of your site and its accessibility. It'll focus on a range of disabilities and access needs, so you know the improvements are to practically help people, rather than to just tick regulatory boxes. It'll also contain a plan.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title" href="#contact-after-audit"
                        data-tab="2"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--2"
                            aria-controls="contact-after-audit"
                        >
                            Can I contact you after the audit?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="contact-after-audit" class="accordion__content"
                        data-tab="2"
                        role="tabpanel" aria-labelledby="accordion__title--2"
                    >
                        <p>Of course. I can't dedicate lots of time after an audit is finished, but I won't be charging you for asking a couple of questions.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#do-you-sign-ndas"
                        data-tab="3"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--3"
                            aria-controls="do-you-sign-ndas"
                        >
                            Are you happy to sign NDA's?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="do-you-sign-ndas" class="accordion__content"
                        data-tab="3"
                        role="tabpanel" aria-labelledby="accordion__title--3"
                    >
                        <p>Absolutely. I won't, however, sign any non-compete contracts - accessibility is something everyone should be doing.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#other-material"
                        data-tab="4"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--4"
                            aria-controls="other-material"
                        >
                            Do you have "off the shelf" material?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="other-material" class="accordion__content"
                        data-tab="4"
                        role="tabpanel" aria-labelledby="accordion__title--4"
                    >
                        <p>I've got a book! It covers a range of disabilities and access needs in depth, and covers almost everything I know. You can <a href="https://learna11y.com/" rel="noopener" target="_blank">check it out here</a> or <a href="https://inclusive.guide/buy" rel="noopener" target="_blank">grab a copy here</a>.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#discounts"
                        data-tab="5"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--5"
                            aria-controls="discounts"
                        >
                            Do you offer discounts?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="discounts" class="accordion__content"
                        data-tab="5"
                        role="tabpanel" aria-labelledby="accordion__title--5"
                    >
                        <p>With every audit being different, there isn't really a standard rate to discount. However if you buy a copy of my book, I'll be sure to knock &pound;50 off! 😉</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="banner">
            <a href="mailto:ashley@mrfirthy.me" class="button">Sounds good, let's do it</a>
        </div>
    </main>

    <footer>
        {% include title.html tag="h2" %}
        {% include nav.html %}
    </footer>
</div>

<script src="{{ site.url }}/static/js/faq.js"></script>