---
layout: default
title: Management and Leadership mentoring
---

<div class="content">
    <main id="main-content">
        <div class="banner">
            <h1>Management &amp; Leadership Mentoring</h1>
            <p>Managing a team for the first time? Expanding into new countries or disciplines? I can help.</p>
            <a href="mailto:ashley@mrfirthy.me" class="button">Sounds good, let's do it</a>
        </div>

        <section>
            <h2>What's the point?</h2>
            <p>Management is a difficult and unique challenge. There are <em>many</em> approaches and <em>a lot</em> of content out there, but none specific to your situation and feelings. I offer one-to-one sessions to allow people to feel more prepared to lead.</p>

            <div class="half">
                <div class="half__item">
                    <h3>Highlighting:</h3>
                    <ul>
                        <li>😬 Pain points and potential issues you may have in your setup</li>
                        <li>🧠 Insights and advice based on your specific situation.</li>
                    </ul>
                </div>
                <div class="half__item">
                    <h3>Providing:</h3>
                    <ul>
                        <li>📈 Plans and initiatives to improve your approach</li>
                        <li>✊ Support as you take on your biggest challenges.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <h2>What makes you qualified?</h2>
            <p>I'm not a veteran of management, but the hyper-paced nature of helping take a start-up to a global company worth over $5 billion in a few years has forced me to learn a lot in a very short space of time. It's also exposed me to nearly all company sizes, and taught me what works within them. Here are a few of the things I can teach based on my experience, primarily from <a href="https://octopus.energy" target="_blank">Octopus Energy</a>:</p>
            <ul>
                <li>1️⃣ Going from being the first in a team, to growing a team</li>
                <li>🎓 Learning to manage people in different disciplines to your own</li>
                <li>🌍 Managing people across multiple countries</li>
                <li>🏡 Building a team with very low attrition</li>
                <li>📈 Successfully managing progression for people in your teams</li>
                <li>🤝 Recruiting in a lean and manageable way.</li>
            </ul>
        </section>

        <section>
            <h2>FAQs</h2>
            <div class="accordion" role="tablist">
                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#will-you-have-time"
                        data-tab="1"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--1"
                            aria-controls="will-you-have-time"
                        >
                            Will you have time for me?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="will-you-have-time" class="accordion__content"
                        data-tab="1"
                        role="tabpanel" aria-labelledby="accordion__title--1"
                    >
                        <p>I only take on a small number of clients at a time in order to ensure that I can give it my best alongside my work. For that reason, you won't find me too busy if we're working together.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#how-often-should-we-meet"
                        data-tab="2"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--2"
                            aria-controls="how-often-should-we-meet"
                        >
                            How often should we meet?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="how-often-should-we-meet" class="accordion__content"
                        data-tab="2"
                        role="tabpanel" aria-labelledby="accordion__title--2"
                    >
                        <p>The most typical frequency is fortnightly, but it's largely down to what you're looking for. This cadence allows me to come armed with content specific to your needs and situation.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title" href="#contact-between-sessions"
                        data-tab="3"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--3"
                            aria-controls="contact-between-sessions"
                        >
                            Can I contact you between sessions?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="contact-between-sessions" class="accordion__content"
                        data-tab="3"
                        role="tabpanel" aria-labelledby="accordion__title--3"
                    >
                        <p>Of course. We will meet regularly, but I'm always around on email between those sessions.</p>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#do-you-sign-ndas"
                        data-tab="4"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--4"
                            aria-controls="do-you-sign-nda"
                        >
                            Are you happy to sign NDA's?
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="do-you-sign-ndas" class="accordion__content"
                        data-tab="4"
                        role="tabpanel" aria-labelledby="accordion__title--4"
                    >
                        <p>Absolutely. We should be able to talk openly about what you're going through.</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>How do we start?</h2>
            <p>If you're interested, let's start with an intro chat to go over what you're looking for. Just drop me an email using the button below.</p>
        </section>

        <div class="banner">
            <a href="mailto:ashley@mrfirthy.me" class="button">Sounds good, let's do it</a>
        </div>
    </main>

    <footer>
        {% include title.html tag="h2" %}
        {% include nav.html %}
    </footer>
</div>

<script src="{{ site.url }}/static/js/faq.js"></script>