---
layout: default
title: Now
---

<div class="content">
    <main id="main-content">
        <h1>Now</h1>
        <section>
            <h2>October 2024</h2>
            <h3>Culture</h3>
            <ul>
                <li>
                    After a long string of non-fiction reading, I've started delving into the world of science fiction. A couple of recommendations from that journey:
                    <ul>
                        <li><a href="https://www.goodreads.com/book/show/32109569-we-are-legion-we-are-bob">We are legion (We are Bob)</a></li>
                        <li><a href="https://www.goodreads.com/book/show/54493401-project-hail-mary?ref=nav_sb_ss_1_13">Project Hail Mary</a></li>
                        <li><a href="https://www.goodreads.com/book/show/20518872-the-three-body-problem?ref=nav_sb_ss_1_14">The Three Body Problem</a></li>
                    </ul>
                </li>
                <li>About to embark on the heavily touted <a href="https://www.goodreads.com/book/show/50659467-a-court-of-thorns-and-roses">Court of Thorns and Roses</a> series.</li>
                <li>On the TV front, <a href="https://www.imdb.com/title/tt14452776/">The Bear</a> is the best thing I've watched this year, hands down.</li>
                <li>There is no longer time (or headspace) for labour-intensive, story-based games these days. Gaming has been reduced to short sprints of Fortnite with my brother. No matter how much I play, I don't seem to get better.</li>
            </ul>
            <h3>Life</h3>
            <ul>
                <li>Since I last updated this, I've gotten married, been on honeymoon, got a beautiful dog called Louie, welcomed an equally beautiful daughter called Ava into the world, and bought a new house. Quite the year!</li>
                <li>The last update also mentioned signing an agreement to write a new book - that book is now out! <a href="https://inclusive.guide">Practical Web Accessibility (2nd ed.)</a>. It took an unreal amount of effort (I'd forgotten just how much, truth be told), but I'm immensely proud of the result.</li>
                <li>There's something satisfying about having to walk a dog every single morning, regardless of the weather. It's often left me cold and soaking wet, but has certainly helped prepare me for the day.</li>
                <li>I miss consistent sleep nearly as much as I love the baby currently destroying it. It makes for an interesting combination (and leads to watching nearly everything Netflix has ever made).</li>
            </ul>
            <h3>Work</h3>
            <ul>
                <li>A new role at work has me tackling how to lead 6 disciplines across 8 countries (and a few time zones). Building that team to be both lean and self-sufficient is my sole aim - a hell of a challenge, but one I'm relishing.</li>
                <li>Joining the W3C as an invited expert this year is one of the highlights of my career. I'm learning from some seriously talented people, and helping to write the framework for the new set of WCAG rules.</li>
            </ul>
        </section>

        <section>
            <h2>Previous entries</h2>
            <div class="accordion" role="tablist">
                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#april-2023"
                        data-tab="1"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--1"
                            aria-controls="april-2023"
                        >
                            April 2023
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="april-2023" class="accordion__content"
                        data-tab="1"
                        role="tabpanel" aria-labelledby="accordion__title--1"
                    >
                        <h4>Culture</h4>
                        <ul>
                            <li>
                                Started the year really well in terms of reading. I'm enjoying being engrossed in a book again after falling prey to the distractions of Youtube et al. at the end of last year. Have so far read:
                                <ul>
                                    <li><a href="https://www.goodreads.com/book/show/38447.The_Handmaid_s_Tale">The Handmaids Tale</a></li>
                                    <li><a href="https://www.goodreads.com/book/show/42975172-the-testaments">Testaments</a></li>
                                    <li><a href="https://www.goodreads.com/book/show/50498731-the-apparition-phase">The Apparition Phase</a></li>
                                    <li><a href="https://www.goodreads.com/book/show/31920777-american-kingpin">American Kingpin</a></li>
                                    <li><a href="https://www.goodreads.com/book/show/54785515-four-thousand-weeks">Four Thousand Weeks</a></li>
                                </ul>
                            </li>
                            <li>The Last of Us was unbelievably good, and the final season of Succession has the same high bar. Balancing the heavy weight of those two against old comedies has been nice.</li>
                            <li>Gaming time has been reduced, but a new controller with lower input delay seems to cover any lack of practice or skill my end.</li>
                        </ul>
                        <h4>Life</h4>
                        <ul>
                            <li>One month away from getting married, and my life is a series of small decisions I will have forgotten I'd made next week and potentially won't even notice on the day itself. I'm very excited.</li>
                            <li>Have signed an agreement to write a second edition of my book <a href="https://inclusive.guide">Practical Web Accessibility</a>. Really excited by the challenge and, weirdly, the routine and commitment it'll require from me.</li>
                            <li>Would you believe that purchasing a pop-up table tennis table was the best purchase my fiancé and I have made since moving? It installs a small bit of play into every day, and will definitely be worth its weight in gold come the summer when people visit.</li>
                            <li>Meditating every morning for four months straight has rewired my brain for the better. Praise be to Headspace.</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title" href="#september-2022"
                        data-tab="2"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--2"
                            aria-controls="september-2022"
                        >
                            September 2022
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="september-2022" class="accordion__content"
                        data-tab="2"
                        role="tabpanel" aria-labelledby="accordion__title--2"
                    >
                        <h4>Culture</h4>
                        <ul>
                            <li>Just finished reading <a href="https://www.goodreads.com/book/show/58684588-radically-content">Radically Content</a> and <a href="https://www.goodreads.com/book/show/35294963-selfie">Selfie: How we became so self-obsessed</a>. Both really interesting commentaries. Getting stuck into <a href="https://www.goodreads.com/book/show/38821039-the-making-of-a-manager?ac=1&from_search=true&qid=8O0inopuxk&rank=1">The Making of a Manager</a> now, before likely switching to a bit of fiction for a change.</li>
                            <li>Decided to splurge on the PS5 version of Borderlands 3 and do not regret it. It's incredible how much smoother and enjoyable the console makes the game feel.</li>
                            <li>Finally investing the time in Ozark and Better Call Saul. I remember both for having slow starts, but have seen enough positive reviews to decide they're worth a second go.</li>
                        </ul>
                        <h4>Life</h4>
                        <ul>
                            <li>Moved out of London and haven't looked back once. Feeling more rested, calmer, and working on a better work/life balance.</li>
                            <li>Have started practicing pool again at a local club, after failing to convince my fiancé that installing one next to our kitchen was a great idea.</li>
                        </ul>
                        <h4>Work</h4>
                        <ul>
                            <li>Moved all of my note-taking over from <a href="https://bear.app/">Bear</a> to <a href="https://www.notion.so/product">Notion</a>. It feels like a very neat tool, but offline support has a bit of a way to go.</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion__item">
                    <a
                        class="accordion__title"
                        href="#february-2022"
                        data-tab="3"
                        role="tab"
                    >
                        <h3
                            id="accordion__title--3"
                            aria-controls="february-2022"
                        >
                            February 2022
                        </h3>
                        <span
                            class="accordion__icon"
                            aria-hidden="true"
                        >
                            {% include icons/arrow.svg %}
                        </span>
                    </a>
                    <div
                        id="february-2022" class="accordion__content"
                        data-tab="3"
                        role="tabpanel" aria-labelledby="accordion__title--3"
                    >
                        <h4>Culture</h4>
                        <ul>
                            <li>Genuinely still enjoying playing Fortnite! At this point though, you have to play at certain times of day to avoid all of the pro kids that live on the game.</li>
                            <li>Finally started playing The Last of Us and it's a fantastoc game. Keen to finish it and head straight over to another zombie movie in the form of Dying Light 2.</li>
                            <li>Reading a lot of non-fiction at present, including No Rules Rules and Billion Dollar Whale. I need to find a book that really draws me in for the first time in a while.</li>
                            <li>Still tracking the films I watch using <a href="https://letterboxd.com/mrfirthy/films/" target="_blank">Letterboxd</a> these days. Spiral is one of the worst films I've ever seen, and Spiderman: No way home was far beyond what I expected.</li>
                        </ul>

                        <h4>Life</h4>
                        <ul>
                            <li>Training is going very well. Setting the goal of going to the gym regularly, even if it's not for the sake of a full throttle work out</li>
                            <li>After contracting COVID over the Christmas period, it feels as though me and my partner haven't had a proper break. We're going to head to the Maldives for a week to try and sort that out!</li>
                            <li>Started getting back into playing pool again which I'm really enjoying. It helps that I can play at a spot that has limited signal and so work doesn't threaten to clobber it...</li>
                        </ul>

                        <h4>Work</h4>
                        <ul>
                            <li>My team at Octopus Energy has been growing at hyper speed. Right now the focus is getting our newest countries of Spain, Italy, and France up to speed to bring Octopus to new corners of Europe.</li>
                            <li>Really enjoyed being a technical reviewer on a book around accessibility. It's certainly far less intense than writing one! It feels great to help make a great book on an important topic better.</li>
                            <li>My laptop's battery finally gave out, so I'm now on a tasty new M1 MacBook Pro. It's insanely fast, and I haven't heard the fans turn on once, but there's also a LOT of M1 chip quirks that have made setting up everything a pain.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <p>This page is inspired by <a href="https://codeinthehole.com/now">David Winterbottom's Now Page</a>, which will lead you down a rabbit hole of other “Now” pages.</p>
    </main>
</div>

<script src="{{ site.url }}/static/js/faq.js"></script>