/* --page */
    /* this file should contain html and body styles, and any other styles that relate to the general wrapping of every page e.g. a pagewrapping element */

    html {
    }

    body {
        font-family: 'Raleway', Arial, Verdana, sans-serif;
        font-size: 100%;
        color:#333333;
        background: #fbfbfb;
    }

    main {
        
    }

    canvas {
        position: fixed;
        top: 0;
        left: 0;
        -webkit-filter: blur(0.6px);
        -moz-filter: blur(0.6px);
        -o-filter: blur(0.6px);
        -ms-filter: blur(0.6px);
        filter: blur(0.6px);
    }

    nav,
    main {
        position: relative;
        z-index: 1;
    }

    .profile-img {
        position: relative;
        width: 220px;
        height: 220px;
        margin: 100px auto;
        .border-radius(120px);
        
        a {
            display: block;
        }
        img {
            text-align: center;
            .border-radius(120px);
            .transition(~"all 0.3 ease-in-out");
        }
        &:hover {
            img {
                -webkit-filter: blur(2px);
                -moz-filter: blur(2px);
                -o-filter: blur(2px);
                -ms-filter: blur(2px);
                filter: blur(2px);
                opacity: 0.8;
                cursor: pointer;
                .transition(~"all 0.3 ease-in-out");
            }
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            top: -5px; 
            left: -5px;
            width: 228px; 
            height: 228px;
            border-radius: 162px;
            border: 1px solid #BCBCBC;
        }
        &:after {
            top: -13px; 
            left: -13px;
            width: 244px; 
            height: 244px;
            border-radius: 172px;
            border: 1px dashed #81BDA4;
        }
    }

    .repositories {
        margin-top: 50px;

        li {
            width: 50%;
            float: left;
            margin-bottom: 40px;
            text-align: center;

            &:nth-child(odd) {
                clear: left;
            }

            p {
                padding: 0 50px;
                .border-box;
            }
        }
    }

    .powered-by {
        width: 100%;
        margin: 40px 0;
        text-align: center;
    }