<div class="links">
    <div>
        <p>
            <strong>Email:</strong>
            <a href="mailto:ashley@mrfirthy.me">ashley[at]mrfirthy[dot]me</a>
        </p>
        <p>
            <strong>Codepen:</strong>
            <a href="https://codepen.io/MrFirthy/">@MrFirthy</a>
        </p>
        <p>
            <strong>Github:</strong>
            <a href="https://github.com/MrFirthy">@MrFirthy</a>
        </p>
    </div>
    <div>
        <p>
            <strong>Blog:</strong>
            <a href="/blog">mrfirthy.me/blog</a>
        </p>
        <p>
            <strong>Twitter:</strong>
            <a href="https://twitter.com/MrFirthy">@MrFirthy</a>
        </p>
        <p>
            <strong>Instagram:</strong>
            <a href="https://instagram.com/MrFirthy">@MrFirthy</a>
        </p>
    </div>
</div>