<nav role="navigation">
    <ul>
        <li>
            <strong>Book:</strong>
            <a href="https://learna11y.com">learna11y.com</a>
        </li>
        <li>
            <strong>Codepen:</strong>
            <a href="https://codepen.io/MrFirthy/">@MrFirthy</a>
        </li>
        <li>
            <strong>Github:</strong>
            <a href="https://github.com/MrFirthy">@MrFirthy</a>
        </li>
    </ul>
    <ul>
        <li>
            <strong>Blog:</strong>
            <a href="{{ site.url }}/blog">mrfirthy.me/blog</a>
        </li>
        <li>
            <strong>Twitter:</strong>
            <a href="https://twitter.com/MrFirthy">@MrFirthy</a>
        </li>
        <li>
            <strong>Instagram:</strong>
            <a href="https://instagram.com/MrFirthy">@MrFirthy</a>
        </li>
    </ul>
</nav>