{% if site.tags.size > 3 %}
    <div class="tags tags--all">
        <p class="mb-0">Browse a category:</p>
        {% capture temptags %}
            {% for tag in site.tags %}
                {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
            {% endfor %}
        {% endcapture %}
        {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
        {% for temptag in sortedtemptags %}
            {% assign tagitems = temptag | split: '#' %}
            {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
            {% if tagname != 'popular' %}
                <a
                    href="{{ site.url }}/blog/{{ tagname }}"
                    class="tag"
                >
                    {{ tagname }}
                </a>
            {% endif %}
        {% endfor %}
        <a
            href="{{ site.url }}/blog/popular"
            class="tag tag--popular"
        >
            popular
        </a>
    </div>
{% endif %}