html, body {
  height: auto;
  background: #ffffff;
}
body, input, textarea, td, select, option {
  color: #242424;
  font-family: Arial, sans-serif;
  font-size: 11pt;
}
img { border-width: 0px; }
a img { border: 0px; }
a, a:visited { color: #0c6bcf; text-decoration: none; }
a:hover { text-decoration: underline; }
#container {
  margin: 0px auto 0px auto;
  width: 550px;
}
#container .pictures {
  margin: 0px auto 0px auto;
  width: 550px;
  background: #fafafa;
}
#container .pictures .picture {
  margin: 0px auto 0px auto;
  padding: 20px 50px;
  border-bottom: 1px solid #e0e0e0;
}
#container .pictures .picture img {
  width: 450px;
  margin: 0px auto 0px auto;
  display: block;
}
#container .pictures .picture p {
  padding: 1em;
  margin: 0px;
}
#container .pictures .picture abbr {
  background: #efefef;
  font-size: .8em;
  display: block;
  padding: .8em 1em;
}
h1 {
  margin: 2em 0px 0px 0px;
  background: #eff0f1;
  color: #2d8100;
  padding: .5em;
  text-shadow: #ffffff 0px 1px 0px;
  font-size: 1.5em;
}