.day-night-switcher {
    position: absolute;
    top: -4.8rem;
    right: -4.0rem;
    width: 15rem;
    height: 15rem;
    padding: 0;
    margin: 0 auto 1.0rem;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(to bottom, #be4405, #f6c60c);
    border: .45rem solid $text;
    border-radius: 50%;
    box-shadow: 0 0 2.0rem rgba(0, 0, 0, .4);
    transition: all 1.1s ease-in-out, width height top right .3s ease-in-out;
    // Required to make rounded corners hide overflow in Chrome
    // https://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    &:hover { cursor: pointer; }

    @media (min-width: $phone) {
        top: -3.8rem;
        right: -3.0rem;
        width: 18rem;
        height: 18rem;
    }

    @media (min-width: $mobile) {
        top: -7.2rem;
        right: -5.2rem;
        width: 30rem;
        height: 30rem;
    }

    &.blog-entry {

        @media (min-width: $mobile) {
            top: -3.8rem;
            right: -3.0rem;
            width: 18rem;
            height: 18rem;
        }
    }
}


.sun {
    position: relative;
    top: 48%;
    left: 35%;
    width: 30%;
    height: 30%;
    margin-top: 20px;
    background: #f2ef88;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(242, 239, 136, .4);
    animation: pulse 5s ease infinite alternate;
    transition: all 1.1s .4s ease;
}

.moon {
    position: relative;
    top: -50%;
    left: 120%;
    width: 22.5%;
    height: 22.5%;
    margin-top: -5%;
    margin-left: -5%;
    overflow: hidden;
    background: #d9d8d0;
    border-radius: 100%;
    box-shadow: inset 1.0rem .2rem 0 0 #899098;
    transition: all 1.1s 0s ease;

    div {

        &:nth-child(n) {
            position: relative;
            background: #b9b8b0;
            border-radius: 50%;
            box-shadow: inset .4rem -.2rem 0 0 #535457;
        }

        &:nth-child(1) {
            top: 25%;
            left: 12%;
            width: 27%;
            height: 27%;
        }

        &:nth-child(2) {
            top: -11%;
            left: 60%;
            width: 16%;
            height: 16%;
        }

        &:nth-child(3) {
            top: 25%;
            left: 44%;
            width: 16%;
            height: 16%;
        }
    }
}

.stars {
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: all .8s 0s ease;

    div {

        &:nth-child(n) {
            position: absolute;
            width: .8%;
            height: .8%;
            margin-top: -20%;
            margin-left: 20%;
            overflow: hidden;
            background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            border-radius: 50%;
            box-shadow: 0 0 1.0rem rgba(255, 255, 255, 1);
            transition: all 1s 0s ease;
        }

        &:nth-child(1) {
            top: 30%;
            left: 25%;
        }

        &:nth-child(2) {
            top: 20%;
            left: 55%;
        }

        &:nth-child(3) {
            top: 60%;
            left: 60%;
        }

        &:nth-child(4) {
            top: 45%;
            left: 40%;
        }

        &:nth-child(5) {
            top: 55%;
            left: 15%;
        }

        &:nth-child(6) {
            top: 10%;
            left: 40%;
        }

        &:nth-child(7) {
            top: 55%;
            left: 80%;
        }
    }
}

.water {
    position: absolute;
    top: 68%;
    width: 100%;
    height: 200px;
    background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #f5c30e 30%, #518eac 90%) repeat scroll 0 0 #518eac;
    transition: all 1.1s ease;
}

.night {
    color: $text-reverse;
    background: $background-reverse;

    a { color: $link-reverse; }

    .project { border-color: $link-reverse; }

    .moon {
        top: -10%;
        left: 65%;
        transition: all 1.1s .4s ease;
    }

    .stars {
        opacity: 1;
        transition: all 3s .4s ease;

        div:nth-child(n) {
            margin-top: 0;
            margin-left: 0;
            transition: all 1s .4s ease-out;
        }
    }

    .sun {
        top: 70%;
        left: 20%;
        transition: all 1.1s 0s ease;
    }

    .day-night-switcher {
        background: linear-gradient(to bottom, #111936, #285a7b);
        border-color: $text-reverse;
    }

    .water {
        background: repeating-radial-gradient(ellipse farthest-corner at center -400%, #7fa1bb 30%, #1d425a 90%) repeat scroll 0 0 #1d425a;
    }
}

@keyframes pulse {

    0% { box-shadow: 0 0 20px rgba(242, 239, 136, .4); }

    50% { box-shadow: 0 0 40px rgba(242, 239, 136, 1); }

    100% { box-shadow: 0 0 20px rgba(242, 239, 136, .4); }
}

@-webkit-keyframes pulse {

    0% { box-shadow: 0 0 20px rgba(242, 239, 136, .4); }

    50% { box-shadow: 0 0 40px rgba(242, 239, 136, 1); }

    100% { box-shadow: 0 0 20px rgba(242, 239, 136, .4); }
}
