---
layout: page
title: Blog
---

<h2 class="h1">Blog</h2>

{% include tags.html %}

<section class="posts">
    {% for post in paginator.posts %}
        {% include post-overview.html %}
    {% endfor %}
</section>

{% if paginator.total_posts > paginator.per_page %}
    <div class="pagination">
        <p>
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">
                    Previous
                </a>
            {% endif %}
                <span class="page_number ">
                    Page <strong>{{ paginator.page }}</strong> of {{ paginator.total_pages }}
                </span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next</a>
            {% endif %}
        </p>
    </div>
{% endif %}

<p class="rss">If you’re interested, you can <a href="{{ site.url }}/feed.xml">subscribe via RSS</a></p>