/* -----------------------------------------------------------------------------
 * Utilities
 * -------------------------------------------------------------------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }

.mt-img {
    margin-top: 4rem;

    &--bumper {
        margin-top: 0.5rem;
    }
}

.mb-img {
    margin-bottom: 4rem;

    &--bumper {
        margin-bottom: 0.5rem;
    }
}

.half {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $mobile) {
        flex-direction: row;
    }

    &__item {
        width: 100%;

        @media (min-width: $mobile) {
            width: 46%;
        }
    }
}