/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */

/* Colours */
$background: #f1ede3;
$text: #555555;
$link: #1e68a8;
$link-hover: #23527c;
$popular: #d7be69;

$background-reverse: #0d1526;
$text-reverse: #e9e5d5;
$link-reverse: #00d8ff;
$link-reverse-hover: #00d8ff;

/* Breakpoint */
$container: 960px;
$mobile: 700px;
$phone: 450px;

/* Fonts */
$font-title: 'Noto Serif JP', serif;
$font-body: 'Source Serif Pro', serif;