/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */

/* Colours */
$background: #f1ede3;
$text: #555555;
$link: #AD4700;
$link-hover: #943f04;
$popular: #EBE781;

$background-reverse: #15260d;
$text-reverse: #e9e5d5;
$link-reverse: #EBE781;
$link-reverse-hover: #EBE781;

/* Breakpoint */
$container: 960px;
$mobile: 700px;
$phone: 450px;

/* Fonts */
$font-title: 'Nunito Sans', sans-serif;
$font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
