/* -----------------------------------------------------------------------------
 * Blog
 * -------------------------------------------------------------------------- */

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    .post {
        h3 {
            margin-bottom: 0.8rem;
        }
    }
}

.post {
    flex-basis: 100%;

    &__content {
        padding: 0.1rem;
        padding-left: 0;
        margin-bottom: 8rem;
        border: none;

        @media (min-width: $mobile) {
            padding-left: 3.2rem;
            border-left: 0.4rem solid #dedede;
        }

        &:hover {
            border-color: #dedede;
        }
    }

    &__reading-time {
        margin: 0 0 2.4rem;
        font-size: 98%;
        font-weight: 600;
    }
}

.blog-entry {

    h1 {
        @media (max-width: $phone) {
            margin-top: 0;
        }
    }

    img {

        @media (min-width: $mobile) {
            max-width: 80%;
        }

        &.full {
            max-width: 100%;
        }

        &.portrait {
            @media (min-width: $mobile) {
                max-width: 40%;
            }
        }

        &.thin {
            @media (min-width: $mobile) {
                max-width: 20%;
            }
        }
    }

    .content {
        position: relative;
        padding-top: 2rem;
        padding-bottom: 8rem;

        @media (min-width: $phone) {
            padding-top: 12rem;
        }
    }

    .day-night-switcher {

        @media (min-width: $mobile) {
            top: -3.8rem;
            right: -3rem;
            width: 18rem;
            height: 18rem;
        }
    }

    .post {

        &__reading-time {
            margin: 1.6rem 0 4.8rem;
            font-weight: 400;
        }
    }

    .tags {
        @media (min-width: $mobile) {
            display: inline;

            &:before {
                content: '/';
            }
        }

        .tag {
            @media (min-width: $mobile) {
                &:first-child {
                    margin-left: 0.2rem;
                }
            }
        }
    }
}

.pagination {
    margin-bottom: 1.6rem;
}

.rss {
    margin-bottom: 4rem;
}

blockquote {
    &.question,
    &.answer {
        display: flex;
        align-items: center;
        padding-left: 0;
        margin: 3.2rem 0 2.4rem;

        p {
            &:before,
            &:after {
                font-size: 3rem;
            }

            &:before {
                margin-right: 0.4rem;
                content: open-quote;
            }

            &:after {
                margin-left: 0.4rem;
                content: close-quote;
            }

            font-size: 2.2rem;
            line-height: 3.3rem;
        }
    }

    &.question:before,
    &.answer:after {
        position: static;
        top: 0;
        flex-basis: 6rem;
        display: inline-block;
        width: 6rem;
        min-width: 6rem;
        height: 12rem;
        content: '';
        -webkit-mask: url(../img/person.svg) no-repeat 50% 50%;
        mask: url(../img/person.svg) no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $text;
    }

    &.question {
        &:before {
            margin-right: 2rem;
        }
    }

    &.answer {

        &:before {
            position: static;
            content: none;
        }

        &:after {
            margin-left: 2rem;
            transform: scaleX(-1);
        }
    }
}

.tags {
    display: block;
    margin-top: 3.2rem;

    &:before {
        content: none;
    }
}

.tag {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    background-color: $link;
    border-radius: 0.2rem;
    transition: all .2s ease-in;
    @include link-style(white, none);

    &:hover,
    &:focus {
        background-color: darken($link, 5%);
    }

    &--popular {
        @include link-style(black, none);
        background-color: $popular;

        &:hover,
        &:focus {
            background-color: darken($popular, 5%);
        }
    }
}

.night {

    blockquote {
        &.question:before,
        &.answer:after {
            background-color: $text-reverse;
        }
    }

    .tag {
        color: black;
        background-color: $link-reverse;

        &:hover,
        &:focus {
            background-color: darken($link-reverse, 5%);
        }

        &--popular {
            background-color: $popular;

            &:hover,
            &:focus {
                background-color: darken($popular, 5%);
            }
        }
    }
}