/* -----------------------------------------------------------------------------
 * Generic
 * -------------------------------------------------------------------------- */

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.4rem 0 8rem;

    @media (min-width: $container) {
        flex-direction: row;
    }

    > ul {
        padding: 0;
        margin: 0;

        @media (min-width: $container) {
            width: 50%;
        }

        li {
            padding: 0;
            margin-bottom: 0.4rem;
            border-left: 0;
            list-style-type: none;
        }
    }
}

.home-link {
    color: $text;

    &:hover,
    &:focus {
        color: $text;
    }
}

.back-link {
    position: absolute;
    top: 0rem;
    left: 1.6rem;
    font-size: 4rem;
    @include link-style(currentColor, none);

    @media (min-width: $phone) {
        top: 1.6rem;
        left: 1rem;
    }

    @media (min-width: $mobile) {
        position: static;
        top: auto;
        left: auto;
    }
}

.section { margin-bottom: 6.4rem; }

.role { margin-bottom: 4.8rem; }

.project,
.post {
    padding-left: 1.6rem;
    margin-top: 3.2rem;
    border-left: .4rem solid #dedede;
    transition: border-color 0.3s linear;

    @media (min-width: $phone) {
        padding-left: 3.2rem;
    }

    &:hover { border-color: $link-hover; }
}

.info {
    padding: 1.5rem;
    background-color: darken($background, 3%);
    border: .1rem solid $text;
    border-radius: .5rem;

    p {
        margin-bottom: 0;
    }
}

.night {
    .home-link {
        @include link-style($link-reverse);
    }

    .back-link {
        @include link-style($text-reverse);
    }

    .project,
    .post {
        &:hover { border-color: $link-reverse-hover; }
    }

    .info {
        background-color: darken($background-reverse, 3%);
        border-color: $link-reverse;
    }
}
