/* -----------------------------------------------------------------------------
 * Blog
 * -------------------------------------------------------------------------- */

.blog-title {

    @media (min-width: $phone) {
        margin-top: 13rem;
    }
}

.blog-content {
    padding: 1.6rem 0 .2rem 1.6rem;
    margin-top: 2.4rem;
    border-left: .1rem solid $link;

    @media (min-width: $phone) {
        padding-left: 3.2rem;
    }
}

.cbp_tmtimeline {
    position: relative;
    padding: 0;
    margin: 3.0rem 0 0;
    list-style: none;

    > li {
        position: relative;

        .cbp_tmtime {
            position: absolute;
            display: block;
            width: 13%;
            padding-right: 10rem;

            span {
                display: block;
                text-align: right;

                &:first-child {
                    font-size: 1.6rem;
                    color: #bdd0db;
                }

                &:last-child {
                    font-size: 3.2rem;
                    color: #3594cb;

                    a {
                        color: blue;
                        text-decoration: none;

                        &:hover {
                            color: darken(blue, 5%);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .cbp_tmlabel {
            position: relative;
            padding: 1.6rem 0 .4rem 1.6rem;
            margin-bottom: 4.0rem;
            font-size: 1.2em;
            font-weight: 300;
            line-height: 1.4;
            border-left: .1rem solid $link;

            @media (min-width: $phone) {
                padding-left: 3.2rem;
            }

            h2 {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {

    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li {

        &:nth-child(odd) .cbp_tmlabel:after {
            border-right-color: transparent;
            border-bottom-color: #000000;
        }

        .cbp_tmlabel {
            padding: 1rem;
            margin: 0 0 3.0rem;
            font-size: 95%;
            font-weight: 400;

            &:after {
                top: -2.0rem;
                right: auto;
                left: 2.0rem;
                border-right-color: transparent;
                border-bottom-color: #ececec;
            }
        }

        .cbp_tmtime {
            position: relative;
            width: 100%;
            padding: 0 0 2.0rem;

            span { text-align: left; }
        }
    }
}

/* Blog post page */
.blog-post {
    position: relative;
    padding-left: 8.0rem;

    &:before {
        position: absolute;
        top: 1.0rem;
        bottom: 0;
        left: 2.5rem;
        width: 1.0rem;
        height: 100%;
        margin-left: -1.0rem;
        background: #000000;
        content: '';
    }

    h1 { line-height: 5.5rem; }

    p {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

.blog-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.0rem;

    a { font-size: 2.4rem; }
}

.rss {
    width: 2.4rem;
    height: 2.4rem;
    fill: $text;
}

.image-selection {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;

    > * {
        margin: .4rem .2rem;
    }
}
